<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<span style="color: red">{{ error_message }}</span>
<span style="color: green">{{ message }}</span>
<div class="container">
    <div class="registration-fields">
        <form method="POST">
            {% csrf_token %}
            {{ form.name }}<br>
            {{ form.email }}<br>
            {{ form.password }}<br>
            <input class="register-btn" type="submit" value="Register">
        </form>
    </div>
</div>
<form method="get" action="/">
    {% csrf_token %}
    <input type="submit" value="Back to main page">
</form>
</body>
</html>