<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>
<div class="container">
    <div class="registration-fields">
        <form method="POST">
            {% csrf_token %}
            <label>
                <input type="text" placeholder="Enter first name" name="name">
            </label>
            <label>
                <input type="text" placeholder="Enter login" name="login">
            </label>
            <label>
                <input type="password" placeholder="Enter password" name="password">
            </label>
            <input class="register-btn" type="submit" value="Register">
        </form>
    </div>
</div>

</body>
</html>