<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
</head>
<body>
<span>{{ error_message }}</span>
<span>{{ message }}</span>
{% for prod in cart %}
    {{ prod }}
    <form method="post" action="/products/cart">
        {% csrf_token %}
        <input class="text" type="hidden" name="prod_id" value={{ prod.product.id }}>
        <input class="button" type="submit" value="Remove">
    </form>
    <br>
{% endfor %}

{% if products %}
    <form method="get" action="/products/buy">
        {% csrf_token %}
        <input class="button" type="submit" value="Buy">
    </form>
{% endif %}
<br>

<form method="get" action="/users/profile">
    {% csrf_token %}
    <input type="submit" value="Your profile">
</form>
</body>
</html>