<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your orders</title>
</head>
<body>
<span style="color: red">{{ error_message }}</span>
<span style="color: green">{{ message }}</span>
{% for order, products in orders.items %}
    <form method="post" action="/products/orders">
        {% csrf_token %}
        {{ order }}
        Products: <br>
        {% for item in products %}
            {{ item }}
            <br>
        {% endfor %}
        {% if not order.completed %}
            <input type="submit" value="Cancel">
            <input type="hidden" name="order_id" value="{{ order.id }}">
        {% endif %}
    </form>
    <br>
{% endfor %}
<br>
<form method="get" action="/users/profile">
    {% csrf_token %}
    <input type="submit" value="Your profile">
</form>
</body>
</html>