<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
Hello {{ user.first_name }}!
Your balance = {{ customer.money }}
<br>
<span style="color: red">{{ error_message }}</span>
<span style="color: green">{{ message }}</span>
<br>
<a href="/products/catalog">Catalog</a><br>
<a href="/products/orders">Your orders</a><br>
<a href="/products/cart">Cart</a><br>
<a href="/users/pay">Replenish the balance</a><br>
<a href="/users/logout">Logout</a><br>
</body>
</html>